body {
    margin:0;
    padding:0;
    background:black;
    color:white;
    font-family: monospace;
    overflow:hidden;
}
#container {
    display:flex;
    flex-direction: column;
    height:100vh;
}
#top-bar {
    background:#444;
    padding:5px;
    height:7%;
}
#not-top-bar {
    display: flex;
    height:80%;
}
#palette {
    width:20%;
    padding:4px;
}
#editor {
    width:60%;
    background:#aaa;
    padding:16px;
    overflow:hidden;
}
.sheet {
    background:black;
    height:100%;
    width:100%;
    display:grid;
    grid-auto-rows:24px 200px 200px 200px 200px 200px 200px;
    overflow:auto;
}
.measures {
    padding:4px;
    display:flex;
}
.measure-c {
    width:150px;
    margin:0 4px;
    height:16px;
    border:white 1px solid;
}
#modify {
    width:20%;
    padding:5px;
}